@model IEnumerable<Ecommerce.Models.Promociones>
@{
    ViewBag.Title = "AprobacionPromociones";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Aprobacion Promociones</h2>

</br>
</br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                ID Promocion
            </th>
            <th>
                Producto
            </th>
            <th>
                Periodo
            </th>
            <th>
                Tipo
            </th>
            <th>
                Solicitud
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Producto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Periodo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.ActionLink("Aprobar", "Details", new { id = item.Id })
        |

        @Html.ActionLink("Negar", "Details", new { id = item.Id })
    </td>
</tr>
    }

</table>


