@model IEnumerable<Ecommerce.Models.Productos>
@{
    ViewBag.Title = "AsignacionPrecios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Asignacion Precios</h2>


</br>
</br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                ID Producto
            </th>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
            <th>
                Precio Actual
            </th>
            <th>
                Razon de Cambio
            </th>
            <th>
                Precio Nuevo

            </th>
            <th>
                Ultima Actualización
            </th>
            <th>
                Historial
            </th>
            <th>
                Solicitud
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo_unitario)
            </td>
            <td>
                Inicio Promoción
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Day)
                @if (item.Time_Mount == 12)
                {
                    @:/Diciembre/2019
                }
                else if (item.Time_Mount == 11)
                {
                    @:/Noviembre/2019
                }
                else if (item.Time_Mount == 10)
                {
                     @:/Octubre/2019
                }else if (item.Time_Mount == 9)
                {
                @:/Septiembre/2019
                }else if (item.Time_Mount == 8)
                {
                @:/Agosto/2019
                }else if (item.Time_Mount == 7)
                {
                @:/Julio/2019
                }else if (item.Time_Mount == 6)
                {
                @:/Junio/2020
                }else if (item.Time_Mount == 5)
                {
                @:/Mayo/2020
                }else if (item.Time_Mount == 4)
                {
                @:/Abril/2020
                }else if (item.Time_Mount == 3)
                {
                @:/Marzo/2020
                }else if (item.Time_Mount == 2)
                {
                @:/Febrero/2020
                }else if (item.Time_Mount == 1)
                {
                @:/Enero/2020
                }
            </td>
            <td>

                @Html.ActionLink("Ver", "DetallePrecios", new { id = item.Id })
            </td>
            <td>
                <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Aprobar
                </button>
                <br />
              
                <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#exampleModal1">
                    Rechazar
                </button>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cambio de Precio Éxitoso</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                El nuevo precio ha sido asignado de manera correcta y se notificará al departamento de ventas
                                <br />
                                <br />
                                Gracias!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cambio de Precio Rechazado</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                El nuevo precio ha sido rechazado y no se cambio el precio pero se notificará al departamento de ventas
                                <br />
                                <br />
                                Gracias!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


