@using Ecommerce.Models;
@{
    ViewBag.Title = "BalanceGeneral";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Balance General</h2>
<br />
<br />

<h3>Compras</h3>
<br />
<div class="text-right">

    <form>
        <p>
            <input placeholder="Fecha Inicio" />
            <input placeholder="Fecha Termino" />
            <button class="btn btn-primary">Buscar</button>
        </p>
    </form>

</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                Fecha Transacción
            </th>
            <th>
                Monto
            </th>

            <th>
                Detalles
            </th>


        </tr>
    </thead>
    @foreach (Compras item in ViewBag.Compras)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.FechaCompra
            </td>

            <td>
                @item.Total
            </td>

            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<h3>Ventas</h3>
<br />

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Id
            </th>
            <th>
                Fecha Transacción
            </th>
            <th>
                Monto
            </th>

            <th>
                Detalles
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (Ventas item in ViewBag.Ventas)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.FechaVenta

                </td>


                <td>
                    @item.Total
                </td>

                <td>
                    @Html.ActionLink("Detalle", "DetalleVentas", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container-fluid" style="width:500px">
    <table class="table" style="text-align:center;">
        <thead>
            <tr>
                <th>

                </th>

                <th>
                </th>



            </tr>
        </thead>
        <tbody>
            @{double cuenta2 = 0, cuenta3 = 0, cuenta = 0;
                foreach (Ventas item in ViewBag.Ventas)
                {
                    cuenta2 = +item.Total;
                }
                foreach (Compras item2 in ViewBag.Compras)
                {
                    cuenta3 = +item2.Total;
                }
                cuenta = cuenta2 - cuenta3;

                <tr>

                    <td>
                        <h5> BALANCE GENERAL</h5>
                    </td>
                    <td>
                        $ @cuenta
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>