@using Ecommerce.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Historial Precio de Producto</h2>

<form>
    <p>
        <button class="btn btn-light" formaction="/Finanzas/AsignacionPrecios
                ">
            Regresar al historial
        </button>
    </p>
</form>
<table class="table">
    <tr>
        <th>
            ID Producto
        </th>
        <th>
            PRODUCTO
        </th>
        <th>
            PRECIO ANT
        </th>
        <th>
            RAZON
        </th>
        <th>
            PRECIO NUEVO
        </th>
        <th>
            FECHA ACTUALIZACIÓN
        </th>

    </tr>

    @foreach (DetallePrecios item in ViewBag.DetallePrecios)
    {
        <tr>
            <td>
                @item.Sku
            </td>
            <td>
                @item.Producto
            </td>
            <td>
                $ @item.Precio_Anterior
            </td>
            <td>
                @item.Razon
            </td>
            <td>
                $ @item.Precio_Nuevo
            </td>
            <td>
                @item.Fecha
            </td>

        </tr>
    }

</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

