@model IEnumerable<Ecommerce.Models.DetalleVentaReporteSalida>
@{
    ViewBag.Title = "ActualizarInventarioMenu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Entrega de Producto</h2>

<h6>Seleccione orden de venta</h6>
@using (@Html.BeginForm("ActualizarInventarioMenu", "Almacen", FormMethod.Get))
{
    <b> Buscar por:</b>
    @Html.RadioButton("searchBy", "Nombre", true, new { htmlAttributes = new { @class = "form-check-input" } }) <text>
        Nombre</text>
    @Html.RadioButton("searchBy", "Id", new { htmlAttributes = new { @class = "form-check-input" } }) <text>
        Id</text>
    <br />
    @Html.TextBox("search", ViewBag.CurrentFilter as string)

    <input type="submit" value="Buscar" class="btn btn-info" />
}
<table class="table">
    <tr>
        <th>
            Id de Orden de venta
        </th>
        
        <th>
            Fecha
        </th>
        <th>
            Producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
            status de entregra
        </th>

    </tr>
    @foreach (var item in Model)
    {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleVenta.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReporteSalida.Fecha)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ReporteSalida.Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReporteSalida.Cantidad)
        </td>

        <td>
            @Html.CheckBoxFor(modelItem => item.DetalleVenta.status)
        </td>
        <td>
            <input type="submit" value="Aceptar" class="btn btn-info" id="boton" onclick="actualizar()" />
        </td>
    </tr>


    }
</table>
<br />

<script>
    function actualizar() {
        alert("Status cambiado y existencia actualizada")
        
    }
</script>


