@model IEnumerable<Ecommerce.Models.DetalleVenta>

@{
    ViewBag.Title = "ReporteSalidaMenu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

}
<h2>Reporte de salida menu</h2>
<h6>Seleccionar orden de venta</h6>
@using (@Html.BeginForm("ReporteSalidaMenu", "Almacen", FormMethod.Get))
{
    <b> Buscar por:</b>
    @Html.RadioButton("searchBy", "Nombre", true, new { htmlAttributes = new { @class = "form-check-input" } }) <text>
        Nombre</text>
    @Html.RadioButton("searchBy", "Id", new { htmlAttributes = new { @class = "form-check-input" } }) <text>
        Id</text>
    <br />
    @Html.TextBox("search", ViewBag.CurrentFilter as string)

    <input type="submit" value="Buscar" class="btn btn-info" />
}
<table class="table">
    <tr>
        <th>
            Id de orden de venta
        </th>
        <th>
            Nombre de orden de venta
        </th>
        <th>
            Fecha
        </th>
        <th>
            Id Cliente
        </th>
        <th>
            Cliente
        </th>
        <th>
            Producto
        </th>
        <th>
            Cantidad
        </th>
        <th>

        </th>

    </tr>
    @foreach (var item in Model)
    {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ventas.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ventas.FechaVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ventas.Cliente.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ventas.Cliente.Nombre)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.Producto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            <p>
                @Html.ActionLink("Crear reporte de salida", "ReporteSalida", new { id = item.Id })
            </p>
        </td>
    </tr>


    }
</table>
<br />
